* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem 30rem;
  background-color: #e9e9e9;
}

.sans-serif {
  font-family: sans-serif;
}

.arial {
  font-family: Arial;
}

.mono {
  font-family: monospace;
}

/* NAVBAR CSS */

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav-end {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.font-selection {
  width: 14rem;
  height: 3rem;
  font-size: 1.8rem;
  color: #2d2d2d;
  padding-right: 0;
  padding-top: 0.4rem;
  font-weight: bolder;
  cursor: pointer;
  margin-right: 2rem;
  border-right: 1px solid #979797;
}

.font-selected {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-right: 20%;
}

.font-selected > p {
  margin-right: 1rem;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

.toggle input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input[type="checkbox"]:checked + .slider {
  background-color: #a445ed;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(1.8rem);
}

.moon {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.fonts {
  width: 18.3rem;
  height: 15.2rem;
  position: absolute;
  top: 90%;
  right: 14%;
  background-color: #fff;
  border-radius: 1rem;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: none;
  box-shadow: rgba(164, 69, 237, 0.35) 0px 5px 15px;
}

.fonts > p {
  font-weight: bolder;
}

.fonts > p:hover {
  color: #a445ed !important;
}

/* SEARCH CSS */

form {
  padding-top: 4rem;
  position: relative;
}

form > label {
  display: none;
}

form > input {
  width: 100%;
  height: 6.4rem;
  border-radius: 1rem;
  border: none;
  background-color: #f4f4f4;
  padding-left: 3rem;
  font-size: 1.8rem;
  font-weight: bolder;
  color: #2d2d2d;
}

input::placeholder {
  font-size: 1.8rem;
}

input:focus {
  outline: 1px solid #a445ed;
}

.search-icon {
  position: absolute;
  top: 60%;
  right: 5%;
}

/* MAIN CSS
 */

main {
  padding-top: 2rem;
}

.meaning > h1 {
  font-size: 6.4rem;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.meaning > p {
  font-size: 2.4rem;
  letter-spacing: 0.5rem;
  color: #a445ed;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.heading > img {
  cursor: pointer;
}

main > .noun {
  padding-top: 2rem;
}

.noun > h2 {
  width: 8%;
  font-size: 2.4rem;
  font-style: italic;
  margin-bottom: 2rem;
  border-bottom: 1px solid #979797;
  opacity: 0.7;
}

.noun > p {
  color: #757575;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.noun > ul {
  margin-bottom: 2rem;
}

.noun > ul > li {
  list-style-type: none;
  font-size: 1.8rem;
  padding-bottom: 1rem;
  color: #2d2d2d;
  opacity: 0.8;
}

.noun > ul > li::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 10px;
  background-color: #a445ed;
  border-radius: 50%;
}

.syn {
  padding-left: 2rem;
  color: #a445ed;
  font-weight: bold;
}

.not-found {
  text-align: center;
}

.not-found > h2 {
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.not-found > p {
  font-size: 1.8rem;
  color: #838383;
  width: 80%;
  margin: 0 auto;
}

.show {
  display: flex;
}

@media screen and (max-width: 1024px) {
  body {
    padding: 0;
    max-width: 100%;
  }

  nav {
    width: 90%;
    margin: 2rem auto;
    height: auto;
  }

  .nav-end {
    width: 60%;
  }

  .font-selection {
    width: 14rem;
    height: 3rem;
    font-size: 1.4rem;
  }

  .font-selected {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-right: 20%;
  }

  .font-selected > p {
    font-size: 1.4rem;
  }

  .fonts {
    top: 80%;
    right: 10%;
  }

  form {
    padding-top: 2rem;
    margin: 0 auto;
  }

  form > input {
    margin-left: 2rem;
    width: 90%;
    height: 4.8rem;
    font-size: 1.6rem;
  }

  input::placeholder {
    font-size: 1.6rem;
  }

  .search-icon {
    top: 55%;
    right: 15%;
  }

  .show {
    display: flex;
  }

  main {
    padding: 2rem;
  }

  .meaning > h1 {
    font-size: 3.2rem;
  }
  .meaning > p {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    padding-bottom: 2rem;
  }

  .heading > img {
    width: 4.8rem;
    height: 4.8rem;
  }

  main > .noun {
    margin-top: 3rem;
  }

  .noun > h2 {
    font-size: 1.8rem;
  }

  .noun > p {
    font-size: 1.6rem;
  }

  .noun > ul > li {
    font-size: 1.5rem;
    line-height: 3rem;
    width: 90%;
  }
}
