* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem 30rem;
  font-family: sans-serif;
}

/* NAVBAR CSS */

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav-end {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.font-selection {
  width: 14rem;
  height: 3rem;
  font-size: 1.8rem;
  color: #2d2d2d;
  padding-right: 0;
  padding-top: 0.4rem;
  font-weight: bolder;
  cursor: pointer;
  margin-right: 2rem;
  border-right: 1px solid #979797;
}

.font-selected {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-right: 20%;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

.toggle input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input[type="checkbox"]:checked + .slider {
  background-color: #2196f3;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(2rem);
}

.moon {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

/* SEARCH CSS */

form {
  padding-top: 4rem;
  position: relative;
}

form > label {
  position: absolute;
  left: 999999px;
}

form > input {
  width: 100%;
  height: 6.4rem;
  border-radius: 1rem;
  border: none;
  background-color: #f4f4f4;
  padding-left: 3rem;
  font-size: 1.8rem;
  font-weight: bolder;
  color: #2d2d2d;
}

input::placeholder {
  font-size: 1.8rem;
}

input:focus {
  outline: 1px solid #a445ed;
}

.search-icon {
  position: absolute;
  top: 60%;
  right: 5%;
}

/* MAIN CSS
 */

main {
  padding-top: 2rem;
}

.meaning > h1 {
  font-size: 6.4rem;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.meaning > p {
  font-size: 2.4rem;
  letter-spacing: 0.5rem;
  color: #a445ed;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.heading > img {
  cursor: pointer;
}

main > .noun {
  padding-top: 2rem;
}

.noun > h2 {
  width: 8%;
  font-size: 2.4rem;
  font-style: italic;
  margin-bottom: 2rem;
  border-bottom: 1px solid #979797;
}

.noun > p {
  color: #757575;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.noun > ul {
  margin-bottom: 2rem;
}

.noun > ul > li {
  list-style-type: none;
  font-size: 1.8rem;
  padding-bottom: 1rem;
  color: #2d2d2d;
  opacity: 0.8;
}

.noun > ul > li::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 10px;
  background-color: #a445ed;
  border-radius: 50%;
}

.syn {
  padding-left: 2rem;
  color: #a445ed;
  font-weight: bold;
}

.not-found {
  text-align: center;
}

.not-found > h2 {
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.not-found > p {
  font-size: 1.8rem;
  color: #838383;
  width: 80%;
  margin: 0 auto;
}
